pkgbase = vivi
	pkgdesc = Client for Vivi, a wireless screen sharing solution
	pkgver = 3.12.0
	pkgrel = 1
	url = http://vivi.io
	arch = x86_64
	license = unknown
	depends = gtk3
	depends = libxss
	depends = nss
	depends = glib2
	depends = libpulse
	depends = libx11
	source = vivi-3.12.0.deb::https://downloads.vivi.io/app/vivi-3.12.0.deb
	md5sums = 0589d8c05afe4068a050b9039dc5917b

pkgname = vivi
